@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/* || MAIN CONTAINER */
.card {
    color: #171717;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    width: 300px;
    min-height: 300px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
                0px 2px 2px rgba(0, 0, 0, 0.1),
                0px 4px 4px rgba(0, 0, 0, 0.1),
                0px 8px 8px rgba(0, 0, 0, 0.1),
                0px 16px 16px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}


/* || CARD HEADER: IMAGE PREVIEW */
.card-header {
    height: 200px;
}


.card-header__preview {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* || CARD BODY: TITLE, SUBTITLE, DESCRIPTION */
.card-body {
    padding: 8px;
}


.card-body__title {
    font-size: 16pt;
    margin: 0;
}


.card-body__subtitle {
    font-size: 18pt;
    color: #959595;
    margin: 0;
}


.card-body__description {
    font-size: 12.5pt;
    margin-top: 8px;
}


/* || CARD FOOTER: LINK'S BUTTONS */
.card-footer {
    margin-top: auto;
    padding: 10px;
}

.card-footer__link {
    text-align: center;
    border-radius: 8px;
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(245, 245, 245);
    font-size: 13pt;
    background-color: #171717;
    transition: 0.1s ease;
}


.card-footer__link:hover {
    background-color: #202021;
}