.card-container header {
    background-image: url("site/img/rooms/room.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 0 black solid;
    height: 200px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}



.card-container {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
    
    box-shadow: 0 0 5px #00000036;

    border: black solid 0;
    border-radius: 7px;
    
    width: 330px;
    
    display: inline-block;
   
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;

    color: #262626;
}


.card-body {
    font-size: 15pt;
    text-align: left;
    padding: 9px;
    height: 130px;
}


.card-title {
    font-size: 17pt;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
}


.card-status {
    text-align: center;
    font-size: 100%;
    display: block;
    margin: auto auto 5px auto;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    width: 95%;
    padding: 6px;
    border: solid black 0;
    border-radius: 10px;
}


.card-status.free {
    background-color: #4ae173;
}

.card-status.busy {
    background-color: #e66e6e;
}

.card-status.not-available {
    background-color: #938c8c;
}

.card-status.price {
    background-color: #c4c6c4;
}